@font-face {
    font-family: Open;
    src: url(/assets/fonts/OpenSans-Medium.ttf) format('truetype');
}

@font-face {
    font-family: Merriweather;
    src: url(/assets/fonts/MerriweatherSans-Medium.ttf) format('truetype');
}

h1{
    font-family: Merriweather;
    font-size: 3rem;
    margin: 20px auto;
    border-radius: 1rem;
    text-align: center;
    color: white;
    animation: change-color 1.5s linear infinite;
    padding: 1.5rem;
    width: 60%;
}

/*Animación para cambiar de color*/
@keyframes change-color {
    from { background: #4c4cacfa; }  
    to { background: #5a5c5cfd; }  
}

h2{
    color: #3d3d3e;
    font-size: 1.5rem;
    font-weight: 1000;
    transition: transform .2s;
}

h2:hover{
    transform: scale(2.5);
}


body{
    background-image: url('../assets/fondo-negro.jpg');
    background-size: cover; /*Cubrir todo el body*/
    background-repeat: no-repeat; /*Imagen no se repita*/
    background-attachment: fixed; /*Hacer que la imagen esté fija*/
    color: black;
    font-family: Open;
    font-size: 1rem;
}

section{
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 1rem;
    background: #d1d1d1;
    background: -moz-linear-gradient(left, rgba(209,209,209,1) 0%, rgba(201,201,201,1) 34%, rgba(191,191,191,1) 73%, rgba(235,235,235,1) 100%);
    background: -webkit-linear-gradient(left, rgba(209,209,209,1) 0%, rgba(201,201,201,1) 34%, rgba(191,191,191,1) 73%, rgba(235,235,235,1) 100%);
    background: -o-linear-gradient(left, rgba(209,209,209,1) 0%, rgba(201,201,201,1) 34%, rgba(191,191,191,1) 73%, rgba(235,235,235,1) 100%);
    background: -ms-linear-gradient(left, rgba(209,209,209,1) 0%, rgba(201,201,201,1) 34%, rgba(191,191,191,1) 73%, rgba(235,235,235,1) 100%);
    background: linear-gradient(to right, rgba(209,209,209,1) 0%, rgba(201,201,201,1) 34%, rgba(191,191,191,1) 73%, rgba(235,235,235,1) 100%);
    box-shadow: 10px 15px 15px 10px grey;
}

.sportive-car{
    width: 150px;
    height: 150px;
    background-image: url();
    background-size: cover;
    animation: moveImage 2s linear infinite;
}
/*Animación para desplazar imagen en eje horizontal*/
@keyframes moveImage {
    from {
        transform: translateX(-100);
    }
    to{
        transform: translateX(850%);
    }
}

    


